%nav#navbars.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  / Brand and toggle get grouped for better mobile display
  .wrapper
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "javascript:;"}
        -# %img.logo{alt: "logo", src: "images/logo.png"}>/
        Innovation Fund
    #navbar.collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{href: "#howto"} BENEFITS
        -# %li
        -#   %a{href: "#portfolio"} PORTFOLIO
        -# %li
        -#   %a{href: "#team"} TEAM
        %li
          %a{:href => "#about"} APPLY
        %li
          %a{href: "#contact"} CONTACT
    / /.navbar-collapse
  / /wrapper
/ END Navbar
/ BEGIN Slider
#home-slide
  .slides-filter
  .parallaxize.bg-parallax
  .bigHeader.slideUp
    .text-center
      %h1.white.uppercase.hugetext The Innovation Fund
      %hr.white/
      %h3.white.hugetext A fund for students, by students at the  <br>University of Pennsylvania
      = link_to "#intro", data: { no_turbolink: true }, class: "button button-white-side" do
        %i.fa.fa-lightbulb-o
        More information
      = link_to new_applications_path, data: { no_turbolink: true }, class: "button button-white-side" do
        %i.fa.fa-dollar
        Apply for funding
/ END Slider
/ BEGIN Intro
%section#intro.intro
  .container
    .wrapper
      .row
        .col-sm-12
          %h2.grey.text-center Who We Are
          %p The Weiss Tech House Innovation Fund is a student-run, mini-venture capital fund that offers non-dilutive funding to student-founded Penn startups. We provide current Penn founders — across all of the university’s undergraduate and graduate schools — with funding amounts ranging from $500 - $2,000, depending on their specific needs, to develop their innovative ideas.
          %p Our mission is to promote, cultivate, and support student entrepreneurship in the Penn community. We look for founders who are dedicated, passionate, and attacking viable market opportunities. Our funding and resources enable our portfolio companies to build-out their products, acquire pilot customers, and secure angel or pre-seed funding.
/ END Intro
/ BEGIN Howto
%section#howto.howto
  .container
    .wrapper
      .row
        .col-sm-12.animaze.fromTop
          .title.text-center
            %h1 How we help you
            %hr/
        / featured 1
        .col-sm-4.animaze.fromBottom
          .featured-box
            .featured-icon
              %i.fa.fa-lightbulb-o
              %span
            .featured-desc
              %h3 It all starts with an idea
              %p In order to apply all you need is an idea. We will provide the tech and business mentorship to help you execute on that idea.
        / featured 2
        .col-sm-4.animaze.fromBottom
          .featured-box
            .featured-icon
              %i.fa.fa-heart-o
              %span
            .featured-desc
              %h3 Keep it all
              %p Grants are given for free - no equity or loan is involved.
        / featured 3
        .col-sm-4.animaze.fromTop
          .featured-box
            .featured-icon
              %i.fa.fa-flash
              %span
            .featured-desc
              %h3 Get Connected
              %p Meet other peers at Penn who have the drive to start great things like you. Become a part of the greater Penn start up community.
/ END Howto
/ BEGIN Portfolio
-# %section#portfolio
-#   .container
-#     .wrapper
-#       .row
-#         .col-sm-12.animaze.fromTop
-#           .title.text-center
-#             %h1 PORTFOLIO COMPANIES
-#             %hr/
-#           %p Our companies are started by a wide array of people at Penn. Everyone from undergraduates in engineering or business to graduates in medicine. Below is a list of current and past start ups that the Innovation Fund has invested in.
-#         .col-sm-12.animaze.fromBottom
-#           .row.portfolioContainer
-#             .portfolio
-#               .col-sm-3.portfolio-item
-#                 = image_tag("greenvote.png", :alt => "GreenVote")
-#               .col-sm-3.portfolio-item
-#                 = image_tag("aveece.png", :alt => "Aveece")
-#               .col-sm-3.portfolio-item
-#                 = image_tag("biomated.png", :alt => "BioMated Solutions")
-#               .col-sm-3.portfolio-item
-#                 = image_tag("grand-round-table.png")
-#               .col-sm-3.portfolio-item
-#                 = image_tag("graphmuse.png")
-#               .col-sm-3.portfolio-item
-#                 = image_tag("knowtorious.jpg")
-#               .col-sm-3.portfolio-item
-#                 = image_tag("parametric.png")
-#               .col-sm-3.portfolio-item
-#                 = image_tag("penncycle.png")
-#               .col-sm-3.portfolio-item
-#                 = image_tag("TheRentScene.jpg")
-#               .col-sm-3.portfolio-item
-#                 = image_tag("venturepact.png")
/ END Portfolio
-# %section#team
-#   .team
-#     .container
-#       .wrapper
-#         .row
-#           .col-sm-12.animaze.fromTop
-#             .title.text-center
-#               %h1 THE TEAM
-#               %hr/
-#           .col-sm-12.animaze.fromBottom
-#             .row.row-team
-#               .col-sm-4.animaze.fromBottom
-#                 .cprofile
-#                   .lightbox-item
-#                     = image_tag("http://placekitten.com/300/300")
-#                     .lightbox-item-overlay-content
-#                       %p Anubhav is a junior in the Jerome Fisher Program in Management and Technology, pursuing Finance at The Wharton School and Materials Engineering at the School of Engineering and Applied Science. He is a returning member of the Innovation Fund. He has a keen interest for technology and business and enjoys learning about new innovations. At Penn, he is also involved with the Private Equity and Venture Capital Association and the Wharton Trading Group. He can be contacted at anubhavm@wharton.upenn.edu.
-#                   %h3 Anubhav Maheshwari
-#                   %span Co-Chair
-#               .col-sm-4.animaze.fromTop
-#                 .cprofile
-#                   .lightbox-item
-#                     = image_tag("http://placekitten.com/300/300")
-#                     .lightbox-item-overlay-content
-#                   %h3 Robbie Horwitz
-#                   %span Co-Chair
-#               .col-sm-4.animaze.fromTop
-#                 .cprofile
-#                   .lightbox-item
-#                     = image_tag("http://placekitten.com/300/300")
-#                     .lightbox-item-overlay-content
-#                   %h3 Connor Theilmann,
-#                   %span Treasurer / PM
-#             .row.row-team
-#               .col-sm-4.animaze.fromBottom
-#                 .cprofile
-#                   .lightbox-item
-#                     = image_tag("http://placekitten.com/300/300")
-#                     .lightbox-item-overlay-content
-#                   %h3 Nick Normile
-#                   %span External Outreach
-#               .col-sm-4.animaze.fromTop
-#                 .cprofile
-#                   .lightbox-item
-#                     = image_tag("http://placekitten.com/300/300")
-#                     .lightbox-item-overlay-content
-#                   %h3 Aly Kassim-Lakha
-#                   %span PM
-#               .col-sm-4.animaze.fromTop
-#                 .cprofile
-#                   .lightbox-item
-#                     = image_tag("http://placekitten.com/300/300")
-#                     .lightbox-item-overlay-content
-#                   %h3 Tanya Paul
-#                   %span Internal Portfolio Manager
/ BEGIN About
%section#about.about
  .team
    .container
      .wrapper
        .row
          .col-sm-12.animaze.fromTop
            .title.text-center
              %h1 HOW TO APPLY
              %hr/
          %p
            Please check out the criteria below to ensure you are eligible to apply: (1) At least one founding member of each applicant team must be a current undergraduate student, graduate student, or faculty member at the University of Pennsylvania. (2) Applicants must be technology-enabled companies. (3) Applicants must demonstrate a new approach to some product, service, business model, etc.
          %p
            Please remember that we do not take equity in funded projects. Applications are accepted on a rolling basis.
          %ul.dp_tmtimeline
            %li
              %time.dp_tmtime{datetime: "2013-04-10 18:30"}
                %span Online application
              .dp_tmicon.fa.fa-pencil
              .dp_tmlabel.animaze.fromTop
                %p
                  The application starts online with answering a few questions to help us get a better idea of how your business is run and how the Innovation Fund can help you.
            %li
              %time.dp_tmtime{datetime: "2013-04-11T12:04"}
                %span Coffee Chats & Mentorship
              .dp_tmicon.fa.fa-user
              .dp_tmlabel.animaze.fromTop
                %p If your project is reaches the second round of the application process, an Innovation Fund Project Manager will reach out for a coffee chat. Your PM will mentor you throughout the application process, acting as your company’s liaison to the rest of the Innovation Fund. Your PM will give you feedback and eventually help prepare you to pitch or "defer" your company by offering constructive feedback.
            %li
              %time.dp_tmtime{datetime: "2013-04-13 05:36"}
                %span Pitch
              .dp_tmicon.fa.fa-bullhorn
              .dp_tmlabel.animaze.fromTop
                %p The third round of the application process is to pitch to the Innovation Fund. Pitches last 10 minutes and are followed by 5-10 minute Q&A sessions.

            %li
              %time.dp_tmtime{datetime: "2013-04-15 13:15"}
                %span Funding
              .dp_tmicon.fa.fa-dollar
              .dp_tmlabel.animaze.fromTop
                %p Accepted teams will receive $500-$2,000 dollars and will have access to the Weiss Tech House’s technical, legal, and business mentoring resources. Funding amounts depend on companies’ specific needs for developing their innovative ideas.
          %br/
          .col-md-12
            = link_to 'https://weisstechhouseif.typeform.com/to/s6f0Ja', class: "button theme-color fright btn-block btn-lg", data: { no_turbolink: true } do
              %i.fa.fa-pencil
              Apply!
/ END About
/ BEGIN Contact
%section#contact.contact{style: "background:url('images/contact-background.jpg');"}
  .contact-wrapper
    .container
      .wrapper
        .row
          .col-sm-12
            #contact-slider
              %ul
                %li
                  / Contact details
                  .row
                    .col-sm-6
                      / Map
                      .map-wrapper
                        #map
                    .col-sm-6
                      .bio
                        %h3 Contact
                        %p We are located at the Weiss Tech House at the Universiy of Pennsylvania.
                      %ul.bioextra
                        %li
                          %strong Email
                          %i
                            %a{:href => "mailto:apply.innovationfund@gmail.com"}  apply.innovationfund (at) gmail.com
                        %li
                          %strong Address
                          %i Levine Hall, Rm 266, 3330 Walnut Street, Philadelphia, PA 19104
                        %li
                          %strong Blog
                          %a{:href => "https://medium.com/@apply.innovationfund"}
                            %i Medium
      .credits
        .container
          .row
            .col-sm-12
              .text-center
                %p.credits-title
                  MADE BY
                  %a.hovercolor{href: "javascript:;"} TONY XIE
                  \© 2014.
          .scroll-up
            %a{href: "#home-slide"}
              %i.fa.fa-angle-up
/ END Contact
