!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "Innovation Fund at UPenn", name: "description"}/
    %title Innovation Fund | At the Weiss Tech House at the UPenn
    %script{src: "https://maps.google.com/maps/api/js?sensor=false&language=en", type: "text/javascript"}
    %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Roboto+Slab:700,300,400"}
    %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Bitter:400,400italic"}
    %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300,700"}
    %script
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = yield
